<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LINEA BLANCA</title>
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.3;
  }
  
  p{
    padding: 5px;
  }
  
  img{
    border-radius: 4px;
  }
  
  .button{
    background:rgb(178, 144, 255);
    text-decoration: none;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    color:  #0c0303;
    font-weight: 700;
  }
  .button:hover{
    cursor: pointer;
    text-decoration: none;
    background-color: #967eff;
    color: #080505;
  }
  
  
  /*menu*/
  header{
    background:#52a3ff;
    color:#080202;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    height: 65px;
  }
  header a{
    color: rgb(27, 23, 240);
    text-decoration: none;
  }
  .menu{
    width: 95%;
    max-width: 850px;
    margin: 0 auto;
  }
  .logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo{
    color: #0e0606;
    font-size: 30px;
    font-weight: 700;
  }
  .menu-icon{
    display: none;
  }
  .navigation ul{
    margin:0;
    padding: 0;
    list-style: none;
  }
  .navigation ul li{
    display: inline-block;
  }
  .navigation ul li a{
    display: block;
    padding: 0 1rem;
    font-weight: 700;
  }
  .navigation ul li a:hover{
    color: #8f8f8f;
  }
  .navigation ul .search-icon input{
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
  }
  .navigation ul .search-icon .icon{   
    cursor: pointer;
  }
  .navigation ul .search-icon .icon span{
    font-size: 18px;
    color: #a0a0a0;
  }
  .navigation ul .search-icon .icon span:hover{
    color: #838383;
  }
  .icomin{
    color: #818181;
  }
  .icomin:hover{
    color: #888888;
  }
  .bi-cart3{
    color: #999999;
    cursor: pointer;
  }
  .bi-cart3:hover{
    color: #888888;
  }
  .car{
    position: relative;
  }
  
  /*menu-carrito*/
  .dropdown-menu{
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    height: 400px;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212927;
    text-align: left;
    list-style: none;
    background-color: #747474;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    overflow-y: scroll;
  }
  #vaciar-carrito, #procesar-pedido {
    padding: 8px;
    margin-top:2px;
    text-align: center;
  }
  .dropdown-menu.show {
    display: block;
  }
  .button-vaciar{
    background:rgb(117, 156, 241);
    text-decoration: none;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    color:  #818181;
    font-weight: 700;
  }
  .button-vaciar:hover{
    cursor: pointer;
    text-decoration: none;
    background-color: (rgb(18, 73, 224) 109, 255);
    color: #868686;
  }
  .button-pedido{
    background:#575aff;
    text-decoration: none;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    color:  #9b9b9b;
    font-weight: 700;
  }
  .button-pedido:hover{
    cursor: pointer;
    text-decoration: none;
    background-color: #9897ff;
    color: #f2f2f2;
  }
  
  
  main{
    padding-top: 6rem;
  }
  
  /*slider*/
  .slider{
    padding-top: 4rem;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .slider ul{
    display:flex;
    padding: 0;
    width: 300%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function:linear;
  }
  .slider li{
    list-style: none;
    width: 100%;
  }
  .slider img{
    width: 100%;
  }
  
  @keyframes cambio{
    0%{margin-left: 0;}
    30%{margin-left:0;}
  
    35%{margin-left: -100%;}
    65%{margin-left: -100%;}
  
    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
  }
  
  
  /*circulo imagenes*/
  .container-circulos{
    /* display:flex; */
    width: 100%;
    padding: 10px;
  }
  .container-imagen{
    width: 33%;
    display:inline-block; 
    align-items: center;
    flex-direction: column;
    text-align:center;
    padding: 20px;
  }
  .container-imagen h2{
    font-weight: 600;
  }
  .circulo{    
    width: 60%;
    border-radius: 40%;
    border:4px solid  #7ba9ff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  }
  .ver-todo{
    margin: 50px 0;
    width: 100%;
    text-align: center;
  }
  .contenedor-columna{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  
  
  /*contacto*/
  .container-contacto{
    background-image: url("../img/bg-contacto.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 40px;;
    padding: 6rem 0;
  }
  .container-contacto form{
   
    width: 450px;
    margin:auto;
    background:rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
  }  
  .container-contacto form h2{
    color: #f2f2f2;
    text-align: center;
    margin:0;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .container-contacto form input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border:none;
  }
  .container-contacto form textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
  }
  
  
  /*productos-modal*/
  .modal{
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
  .modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .modal-img{
    width: 50%;
  }
  .modal-boton{
    position: absolute;
    top: 10px;
    right:10px;
    color:white;
    cursor: pointer;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background:#5661f7;
    font-size: 2em;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
  }
  .modal-open{
    display: block;
  }
  
  
  /*productos-card*/
  .container-productos{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  .container-productos .card{
    width: 260px;
    height: 390px;
    background: #4E5D6C;
    color:#f2f2f2;
    border-radius: 8px;
    border:1px solid  #1e8052;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    align-items: center;
    transition: all 0.25s;
  }
  .container-productos .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
  }
  .container-productos .card img{
    width: 260px;
    height: 190px;
    cursor: pointer;
  }
  .container-productos .card h5{
    font-weight: 600;
    padding: 5px;
  }
  .container-productos .card p{
    padding-top: 5px;
  }
  .container-productos .card a{
    padding:10px;
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  
  
  /*contenido*/
  .container{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10% auto;
  }
  
  
  /*columnas*/
  .columna1{
    width: 50%;
    /* float: left;
    padding-left: 25px; */
    text-align: center;
  }
  
  .columna2 img{
    width: 450px;
  }
  
  /*carrito*/
  #cargando{
    display: none;
  }
  .container-carrito h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .container-carrito form{
    width: 650px;
    margin:auto;
    padding: 10px 20px;
  }
  .container-carrito form .contenido{
    
    padding: 10px 20px;
  }
  .container-carrito form .titulo{
    font-size: 20px;
    font-weight: 200;    
  }
  .container-carrito form .titulo input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 8px;
    border:1px solid  #0820f7;
  }
  #total{
    border: 0; 
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  #procesar-compra{
    border: 0;
    height: 49px;
    font-size: 16px;
    outline: none;
    margin: 50px;
  }
  #volver{
    margin: 48px;
  }
  .botones-envio{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .tabla {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
  }
  .tabla td, .tabla th {
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    text-align: center;
  
  }
  .tabla thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  
  /*footer*/
  .footer-menu ul {
    margin: 0px;
    padding: 0px;
  }
  .container-footer {
    max-width: 1140px;
  }
  .copyright-area{
  background: #202020;
  padding: 25px 0;
  }
  .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  }
  .copyright-text p a{
  color: rgb(103, 50, 248);
  text-decoration: none;
  }
  .footer-menu li {
  display: inline-block;
  margin-left: 20px;
  }
  .footer-menu li:hover a{
  color: #14b66a;
  }
  .footer-menu li a {
  font-size: 14px;
  color: #878787;
  text-decoration: none;
  }
  .row-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .text-lg-left {
    text-align: left !important;
  }
  .text-right {
    text-align: right !important;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .d-lg-block {
    display: block !important;
  }
  
  .col-xl-6{
      position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  .container-footer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  
  @media (max-width: 800px) {
  
    /*menu*/
    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .navigation{
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
    .navigation ul li{
        display: block;
    }
    .navigation ul li a{
        display: block;
        padding: 0.5rem 0;
    }
    .navigation ul li a:hover{
        color: #f2f2f2;
    }
  
    header{
        height: auto;
    }
  
    /*menu-carrito*/
    .dropdown-menu{
        left: 0;
        height: 250px;
    }
  
  
    /*slider*/
    .slider{
        padding-top: 5rem;
    }
  
  
    /*circulo imagenes*/
    .container-imagen{
        width: 70%;
        display: block;
        margin: 0 auto;
    }
  
  
    /*contacto*/
    .container-contacto form{
        width: 100%;
    }
  
  
    /*columnas*/
    .columna1{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .columna2{
        width: 100%;
        float: none;
        text-align: center;   
    }
    .columna2 img{
        width: 300px;
    }
  
    /*carrito*/
    .container-carrito form{
        width:100%;
    }
    .tabla td, .tabla th {
        padding: .1rem;
    }    
  
  }
    </style>
</head>
<body>
    <header>
        <div class="menu logo-nav">
          <a href="/" class="logo">LINEA BLANCA</a>
          <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
          <nav class="navigation">
            <ul>
    <a href="/login">Administración</a>
    <li>Descubre la calidad y eficiencia de nuestra línea blanca, la elección perfecta para tu hogar</li>
</ul>
</nav>
</div>
</header>
<div class="slider">
<ul>
<li><img src="https://static.wixstatic.com/media/ea6740_998361941c184b20b29aad41c06c98e0~mv2.jpg/v1/fit/w_500,h_500,q_90/file.jpg" alt="2" width="300" height="300"></li>
<li><img src="https://static.wixstatic.com/media/ea6740_3b4bb0d17e514893984879a83d9e8be5~mv2.png/v1/fill/w_560,h_560,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ea6740_3b4bb0d17e514893984879a83d9e8be5~mv2.png" alt="2" width="300" height="300"></li>
<li><img src="https://static.wixstatic.com/media/ea6740_216aaf02bd1349718c39a9c092445399~mv2.jpg/v1/fill/w_560,h_560,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ea6740_216aaf02bd1349718c39a9c092445399~mv2.jpg" alt="2" width="300" height="300"></li>
</ul>
</div>


<div class="container-index">

    <div class="container-circulos">
      <div class="container-imagen">
        <img src="https://multimaxstore.com/wp-content/uploads/2022/10/AFKC001BL-4.jpg" class="circulo">
        <h2>Horno Freidora</h2>
      </div>
      <div class="container-imagen">
        <img src="https://tiendasamal.com/850-large_default/nevera-bacco-20-pies-side-by-side-con-dispensador-br20a-m.jpg" class="circulo">
        <h2>Nevera</h2>
      </div>
      <div class="container-imagen">
        <img src="https://static.wixstatic.com/media/ea6740_f0d3504854d8454a8f4c0f2e23c087a1~mv2.png/v1/fit/w_500,h_500,q_90/file.png" class="circulo">
        <h2>Cocina</h2>
    </div>
    </div>

    <div class="contenedor-columna">
      <div class="columna1">
        <h2>SOBRE LINEA BLANCA </h2>
        <p>Nuestra línea blanca combina diseño elegante, tecnología avanzada y durabilidad exepcional.¡Haz que tu hogar luzca y funcione de manera extraordinaria!.</p>
      </div>
      <div class="columna2">
        <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2022/11/estas-son-marcas-electrodomesticos-fiables-ocu-2872363.jpg?tf=3840x" alt="1" width="100" height="220">
      </div>
    </div>

  </div>


  <footer class="footer-section">
    <div class="copyright-area">
        <div class="container-footer">
            <div class="row-footer">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, todos los derechos reservados <a href="/">LINEA BLANCA</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="/login">Administrar</a></li>
                           

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>   


    
</body>
</html>